{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio 2</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
</head>
<body>
    <h1>Click em Upload para Subir o Arquivo</h1>
    <form action="{% url 'transactions' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p> {{ form.file }} </p>
        <input type="submit" value="upload" />
    </form>
</body>
</html>