<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio Backend</title>
</head>
<body>
    <section>
        <ul>
            <li title="Tipo da transação">Tipo: Financiamento</li>
            <li title="Data da ocorrência">Data: 09/04/2022</li>
            <li title="Valor da Movimentação">Valor: R$ 500,00</li>
            <li title="CPF do beneficiário">Cpf: 15311742720</li>
            <li title="Hora da ocorrência">Hora: 00:03:00</li>
            <li title="Dona da loja">Dono: Marcus Vinicius</li>
            <li title="Nome da loja">Loja: Lojas Americanas</li>
        </ul>
        <h2>Saldo Total: R$ 1500,00</h2>
    </section>
</body>
</html>