<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio Backend</title>
</head>
<body>
    <section>
        <table>
            <tr>
                <th title="Tipo da transação">Tipo</th>
                <th title="Data da ocorrência">Data</th>
                <th title="Valor da Movimentação">Valor</th>
                <th title="CPF do beneficiário">Cpf</th>
                <th title="Hora da ocorrência">Hora</th>
                <th title="Dona da loja">Dono</th>
                <th title="Nome da loja">Loja</th>
            </tr>

            {% for item in data %}
            <tr>
                <td>{{ item.type }}</td>
                <td>{{ item.data }}</td>
                <td>{{ item.value }}</td>
                <td>{{ item.cpf }}</td>
                <td>{{ item.card }}</td>
                <td>{{ item.hour }}</td>
                <td>{{ item.owner }}</td>
                <td>{{ item.shop }}</td>
            </tr>

            
            {% endfor %}

        </table>
    </section>
</body>
</html>