{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio Backend</title>
    <link rel="stylesheet" href="{% static './css/bootstrap.css' %}">
</head>
<body >
    <section class="container">
        <a class=" btn form-control btn btn-primary" href="{% url 'cnab-list' %}">Filtro e Soma Click Aqui</a>
        <table class="table">
            <tr>
                <th scope="col" title="Tipo da transação">Tipo</th>
                <th scope="col" title="Data da ocorrência">Data</th>
                <th scope="col" title="Valor da Movimentação">Valor</th>
                <th scope="col" title="CPF do beneficiário">Cpf</th>
                <th scope="col" title="Hora da ocorrência">Hora</th>
                <th scope="col" title="Dona da loja">Dono</th>
                <th scope="col" title="Nome da loja">Loja</th>
            </tr>

            {% for item in data %}
            <tr>
                <td scope="row">{{ item.type }}</td>
                <td scope="row">{{ item.data }}</td>
                <td scope="row">{{ item.value }}</td>
                <td scope="row">{{ item.cpf }}</td>
                <td scope="row">{{ item.hour }}</td>
                <td scope="row">{{ item.owner }}</td>
                <td scope="row">{{ item.shop }}</td>
            </tr>
            {% endfor %}

        </table>
    </section>
    <script src="{% static './js/bootstrap.bundle.js' %}"></script>
</body>
</html>